/* AboutUs.module.css */
.container {
    display: flex;
    gap: 2rem;
    background: radial-gradient(circle, #002559, #bfcfdc);
    color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    
  }
  
  .mapWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  
  .infoSection {
    flex: 1;
  }
  
  .header {
    color: #ffffff;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .paragraph {
    color: #f1f4f8;
    line-height: 1.6;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin-top: 1.5rem;
    width: 500px;
  }
  
  .cardBodyText {
    color: #333;
  }
  